.letterBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.conversation {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    border: 10px outset rgb(73, 44, 189);
    border-radius: 20px;
    width: 800px;
    height: 500px;
    backdrop-filter: blur(50px);
    padding: 10px;
    overflow: auto;
    overflow-anchor: auto;
}

.user1MsgImage {
    align-self: center;
    align-content: flex-start;
    flex-direction: row-reverse;
    height: 80px;
    border-radius: 50%;
    border: 2px solid ;
    margin-right: 10px;
}

.user2MsgImage {
    align-self: center;
    align-content: flex-start;
    height: 80px;
    border-radius: 50%;
    border: 2px solid ;
    margin-left: 10px;
}

.message {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    justify-content: flex-end;
    height: 120px;
    width: 400px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 10px;
    background-color: rgb(17, 26, 142);
    border: 3px solid;
    border-radius: 30px;
}

.message2 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    height: 120px;
    width: 400px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgb(197, 94, 10);
    border: 3px solid;
    border-radius: 30px;
}

.letterContent {
    justify-content: center;
    align-self: center;
    font-size: 18px;
    color: azure;
    width: 400px;
    margin: 10px;
}

.typeSend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.messageInput {
    width: 400px;
    margin: 20px;
    text-align: center;
    border: 3px solid ;
    border-radius: 20px;
}

.sendButton {
    width: 100px;
    background-color: black;
    border: 2px solid ;
    border-radius: 20px;
}

.sendButton:hover {
    background-color: black;
    color: rgb(255, 153, 0);
}

#chatWith {
    background-color: black;
    padding: 10px;
    border: 2px solid ;
    border-radius: 50px;
}

/* //fetch allUsers and user1.
//fetch all letters.
//create a text input field
//make database chat section
//create send button that will post letter content to database.
//display input field at bottom of chat.
//SG - make it scrollable. 
//SG - small user pic next to message.  */