.matcherBody {
    display: flex;
    justify-content: center;

}

.user1, .individuals {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 40px;
    padding: 4px;
    text-align: center;
    height: auto;
    width: 20vw;
    backdrop-filter: blur(50px);
    margin-right: 10px;
}

.matches {
    display: flex;
}

.userName, .matchName {
    background-color: black;
    width: auto;
    text-align: center;
    padding: 4px;
    border: 2px solid;
    border-radius: 10px;
}

.u1PrefList, .matchPrefList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 2;
}

.matchImage, .userImage {
    display: flex;
    height: 10vw;
    width: 8vw;
    border: 3px solid burlywood;
    border-radius: 50px;
}


.deleteMatchButton {
    background-color: black;
    border: 2px solid ;
    border-radius: 20px;
    margin-bottom: 6px;
}

.deleteMatchButton:hover {
    background-color: black;
    color: red;
}


