
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


body,
button,
input,
select,
textarea {
  color: #8699ed;
  font-family: Jost;
  font-size: 16px;
  line-height: 1.5;
}

body {
    padding: 0 3rem;
    background-color: rgb(79, 114, 253);
    background-image: url('https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg');
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "jost";
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}